html{
    background-image: url("https://images.unsplash.com/photo-1506220926022-cc5c12acdb35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"); 
    background-color: #0F0F11;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.keys {
    height: 20vh;
    width: 100%;
    background-color: rgba(2, 40, 80, 0.3);
    margin-top: 20%;
    text-align: center;
    position: relative;
}

.key{
    display: inline-block;
    border: 3px solid rgb(2, 174, 186);
    border-radius: 10px;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    transition: all 0.07s;
    width: 90px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 5px black;
}
.playing{
    transform: scale(1.1);
    border-color: #00d607;
    box-shadow: 0 0 10px #064B93;
}

kbd{
    display: block;
    font-size: 40px;
}

.sound{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #00d660;
}